@model SupportInvestigation.Models.Model.Hypothesis

@{
    ViewBag.Title = "Delete";
}

<h2>Alerte Suppression!!!</h2>

<h3>Etes vous sûre de vouloir supprimer cette solution?</h3>
<fieldset>
    <legend>Titre @Html.TextAreaFor(model => model.title, new { @class = "field span12", @rows="1", @maxlength="45", @disabled="disabled"})</legend>

   

    <div class="display-field">
        @Html.HiddenFor(model => model.DateCreation)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.DateModification)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.StateSolved)
    </div>
    <div class="editor-field">
            @Html.TextAreaFor(model => model.Contents, new { @class = "field span12", @rows = "20", @disabled = "disabled" })

    

    <div class="display-field">
        @Html.HiddenFor(model => model.IDTicket)
    </div>

    <div class="display-field">
        @Html.HiddenFor(model => model.IDUser)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Effacer"  class="btn btn-large btn-danger" /> |
        @Html.ActionLink("Retourner sur la liste", "ListHypo", new { }, new { @class = "btn btn-large btn-inverse" })
    </p>
}
