

@{
    ViewBag.Title = "Page d'accueil";
}

<h2>HelloWorld</h2>

@Html.ActionLink("Se connecter", "Connect","Administration")
@Html.ActionLink("Afficher la liste des tickets ", "ListTicket","Ticket")
@Html.ActionLink("Afficher la liste des users", "ListUser","Administration")
@Html.ActionLink("Afficher la liste des marchands", "ListMarchand","ticket")
@Html.ActionLink("Afficher la liste des hypotheses", "ListHypo","Investigation")