@model SupportInvestigation.Models.Model.Marchand

@{
    ViewBag.Title = "DeleteMarchand";
}
<h3>Etes vous sur de vouloir effacer ce marchand?</h3>
<fieldset>
    <legend>Marchand</legend>

    <div class="display-label">Nom du marchand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Url du marchand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">Contact du marchand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactName)
    </div>

    <div class="display-label">Numéro de téléphone du marchand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="submit" value="Delete" class="btn">Effacer le marchand</button> |
        @Html.ActionLink("Retour", "Index", new { }, new { @class="btn"})
    </p>
}
