@model SupportInvestigation.Models.CustomView.PasswordViewModel

@{
    ViewBag.Title = "ReinitiatePassword";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationMessage("ErrorPassword", new { @style = "color:red" })

@using (Html.BeginForm("ReinitiatePassword", "Administration", FormMethod.Post, new { @id="myForm"}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>

       Rentrer un nouveau mot de passe
       pour l'utilisateur :<p> 
        @Html.DisplayFor(m => m.Login)
        </p>
            <label for="password">Password </label>
            @Html.PasswordFor(model => model.Password, new { @id = "password", @name = "password" })
            @Html.ValidationMessageFor(model => model.Password)
            <br /> 

            <label for="PasswordAgain">Confirmer le mot de passe</label>
            @Html.PasswordFor(model => model.PasswordConfirmed, new { @id = "password_Again", @name = "password_Again" })
             @Html.ValidationMessageFor(model =>model.PasswordConfirmed)
            <br />           
       @Html.HiddenFor(m => m.UserID)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}