@inherits SupportInvestigation.Models.CustomView.BaseViewPage
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/editor/bootstrap-wysihtml5.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap/editor/wysihtml5-0.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/jquery-1.8.0.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
     <script src="@Url.Content("~/Content/bootstrap/editor/bootstrap-wysihtml5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
   
   
    

    <style type="text/css">
    .content
    {
      min-height: 450px;  
    }
    .BodyContent
    {
      min-height: 200px;
    }
    .BodyHypoContent
    {
      min-height: 200px; 
    }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Marchand Support investigation</a>
                    <ul class="nav">
                       <li><a href="@Url.Action("List","Ticket")"><i class="icon-home"></i> Accueil</a></li>
                                          
                        @if(User.IsInRole("Admins"))
                        {
                           <li><a href="@Url.Action("Home","Administration")"><i class="icon-wrench"></i>  Administration</a></li>
                        }
                        else
                        {
                        <li><a href="@Url.Action("Home","User")"><i class="icon-map-marker"></i> Mon Espace</a></li>
                        }

                       
        
                       
                    </ul>
                    <ul class="nav pull-right">
                        @Html.Partial("_LogOnPartial")
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
        <div class="container-fluid">
        <ul class="nav nav-tabs">
        
        <li class="lien1">@Html.ActionLink("Tickets", "List", "Ticket")</li>
         <li class="lien2">@Html.ActionLink("Investigations", "ListHypo", "Investigation")</li>
         <li class="lien3">@Html.ActionLink("Archives", "Archived", "Ticket")</li>
       @Html.ActionLink("Créer un ticket", "Add", "Ticket", new { }, new { @class = "btn btn-primary pull-right" })
        </ul>
        
        <div class=content>
            <div class="row-fluid">
                <div class="span8">
                    
                    @RenderBody()
                    
                </div>
                <div class="span4">
               
                    <div>@RenderSection("navBar",false)</div>
                
                </div>
            </div>
            </div>
        </div>
    <footer>
    </footer>
    <br />
    <hr />
    <footer>
        <p style="text-align:center">
            &copy; Un projet de <a href="mailto:jeanchristophedemar@yahoo.fr?Subject=Msi%Contact">Jc Demar</a>- 2012</p>
    </footer>
   
</body>
</html>
