@model IEnumerable<SupportInvestigation.Models.Model.Ticket>
<script type="text/javascript">$("li.lien3").addClass(" active")</script>
@{
    ViewBag.Title = "Archived";
}
@section navBar{
<form>
<legend>Trier par:</legend>
<button class="btn btn-large btn-block btn-info" type="button">Marchand</button>
<button class="btn btn-large btn-block btn-info" type="button">Auteur</button>
<button class="btn btn-large btn-block btn-info" type="button">Date</button>
</form>

}
<form>
<fieldset>
<legend>Les archives</legend>
<table class="table">
    <tr>
        <th>
            Titre
        </th>
        
        <th>
            Date
        </th>     
        <th>
            Résumé
        </th>
       
        <th>
            Url
        </th>
        <th>
            Auteur
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Marchands.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Login)
        </td>
        <td>
                @Html.ActionLink("Lire", "Details", new { id = item.TicketID }, new { @class="btn btn-small"}) 
        </td>
    </tr>
}

</table>
</fieldset>
</form>