@model PagedList.IPagedList<SupportInvestigation.Models.Model.Ticket>
<script type="text/javascript">$("li.lien3").addClass(" active")</script>
@{
    ViewBag.Title = "Archives";
}
@section navBar{
@using (Html.BeginForm())
{
    <fieldset>
    <legend>Rechercher par titre:</legend>
   
         @Html.TextBox("SearchString",string.Empty, new { @class = "input-medium search-query " })  
        <input type="submit" value="Rechecher" class="btn"/>
     </fieldset>
}
<form>
<fieldset>
<legend>Trier par:</legend>

@Html.ActionLink("Par ticket", "Archived", new { sortOrder = ViewBag.MarchandSortParm }, new {@class="btn btn-large btn-block btn-info" })
@Html.ActionLink("Auteur", "Archived", new { sortOrder = ViewBag.AuteurSortParm }, new { @class = "btn btn-large btn-block btn-info" })
@Html.ActionLink("Date", "Archived", new { sortOrder = ViewBag.DateSortParm }, new { @class = "btn btn-large btn-block btn-info" })
</fieldset>
<hr />
<fieldset>
 <legend>Navigation</legend>
 
 <div style="text-align: center">
  
     
    @if (Model.HasPreviousPage)
    {
   
      
       
        <a href="@Url.Action("Archived", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })"><i class="icon-fast-backward"></i></a>
        @Html.Raw(" ");
        
        <a href="@Url.Action("Archived", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })"><i class="icon-backward"></i> Precedent</a>            
       
      
    }
    else
    {
        @:<i class=" icon-ban-circle"></i>
        @Html.Raw(" ");
        @:<i class=" icon-chevron-left"></i> Precedent
    }
     
    @if (Model.HasNextPage)
    {
        <a href="@Url.Action("Archived", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Suivant <i class="icon-forward"></i></a>  
            

        @Html.Raw(" ");
                      
        <a href="@Url.Action("Archived", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })"><i class="icon-fast-forward"></i></a>
                      
       
    }
    else
    {
        @:Suivant <i class="icon-chevron-right"></i>
        @Html.Raw(" ")
        @:<i class="icon-ban-circle"></i>
    }
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    sur @Model.PageCount
</div>
 
 </fieldset>

 <fieldset>
    <legend>Statistiques:</legend>

    Nombre total de tickets résolus @Model.TotalItemCount
  
    </fieldset>

</form>

}
<form>
<fieldset>
<legend>Les archives</legend>
<table class="table">
    <tr>
        <th>
            Titre
        </th>
        
        <th>
            <i class="icon-calendar"></i> Date
        </th>     
        <th>
            Résumé
        </th>
       
        <th>
           <i class="icon-globe"></i> Url
        </th>
        <th>
           <i class="icon-user"></i>
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       
        <td>
           @item.DateCreation.ToShortDateString()
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Marchands.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Login)
        </td>
        <td>
            @Html.ActionLink("Lire", "Details", new { id = item.TicketID }, new { @class="btn btn-small"}) 
        </td>
    </tr>
}

</table>
</fieldset>
</form>