@model PagedList.IPagedList<SupportInvestigation.Models.Model.Ticket>
<script type="text/javascript">    $("li.lien1").addClass(" active")</script>
@{
    ViewBag.Title = "Derniers tickets";
}
@section navBar{
    <form>
    <fieldset>
        <legend>Trier par:</legend>
        <div id="refLien">
            @Html.ActionLink("Marchand", "List", new { sortOrder = ViewBag.MarchandSortParm, post = 1 }, new { @class = "btn btn-large btn-block btn-info" })
            @Html.ActionLink("Auteur", "List", new { sortOrder = ViewBag.AuteurSortParm }, new { @class = "btn btn-large btn-block btn-info" })
            @Html.ActionLink("Date", "List", new { sortOrder = ViewBag.DateSortParm }, new { @class = "btn btn-large btn-block btn-info" })
            @Html.ActionLink("Title", "List", new { sortOrder = ViewBag.TitleSortParm }, new { @class = "btn btn-large btn-block btn-info" })
            @Html.ActionLink("Ticket lu / non lu", "List", new { sortOrder = ViewBag.ReadSortParm }, new { @class = "btn btn-large btn-block btn-info" })
        </div>
    </fieldset>
    <hr />
    <fieldset>
        <legend style="text-align:center">Navigation</legend>
        <div style="text-align: center">
            @if (Model.HasPreviousPage)
            {     
                <a href="@Url.Action("List", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">
                    <i class="icon-fast-backward"></i></a>
                @Html.Raw(" ");
        
                <a href="@Url.Action("List", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">
                    <i class="icon-backward"></i>Precedent</a>             
            }
            else
            {
                @:<i class=" icon-ban-circle"></i>
        @Html.Raw(" ");
                @:<i class=" icon-chevron-left"></i> Precedent
                }
            @if (Model.HasNextPage)
            {
                <a href="@Url.Action("List", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">
                    Suivant <i class="icon-forward"></i></a>     
                @Html.Raw(" ");
                <a href="@Url.Action("List", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">
                    <i class="icon-fast-forward"></i></a>
            }
            else
            {
                @:Suivant <i class="icon-chevron-right"></i>
        @Html.Raw(" ")
                @:<i class="icon-ban-circle"></i>
                }
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            sur @Model.PageCount
        </div>
    </fieldset>
    </form>
}
@Html.Partial("_Listpartial", Model)
